![logo](IBM-logo.jpg)

![logo](coursera.png)

# IBM Capstone Data Science Project

**Table of contents**
1. [Data acquisition](#Chapter1) 
2. [Data cleaning](#Chapter2)
3. [Analysis](Chapter3)

This notebook will be used to demonstrate the learned skills within the IBM data science course on Coursera.

In [1]:
import pandas as pd # Library for dataframe manipulations
import numpy as np # library for mathematical functions
import requests # library to handle requests
import random # library for random number generation
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
import folium # plotting library
import geocoder # import geocoder

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


print('Libraries imported.')

Libraries imported.

## 1. Data acquisition <a name="Chapter1"></a>

To aquire the data for the clustering of Toronto webscraping is used. To be able to webscrape the data from [Wikipedia](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M), I use the package [pandas](https://pandas.pydata.org/pandas-docs/stable/).

In [2]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0) # to acces the wikipedia page

# now to construct the dataframe using pandas
headings = ['Postcode', 'Borough', 'Neighbourhood']
for table in tables:
    current_headings = table.columns.values[:3]
    if list(current_headings) == headings:
        break

In [3]:
table['Postcode'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)
table['Borough'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)
table['Neighbourhood'].replace({r'.*!(.*)': r'\1'}, regex=True, inplace=True)

table[headings].to_csv('test.txt', sep=',', header=False, index=False)

In [4]:
df = pd.DataFrame(table)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## 2. Data cleaning <a name="Chapter2"></a>

At this stage the dataset will be assesed. If there are any missing values or other values that could impact the analysis they are removed or dealt with accordingly.

In [5]:
# Adressing the not assigned values
df['Borough'].replace('Not assigned', np.NaN, inplace=True)
df.dropna(inplace=True)
# to verify that it worked
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [6]:
# grouping values based on zipcode
df = df.groupby(['Postcode'])['Neighbourhood'].apply(', '.join).reset_index()

In [7]:
# shape of the current dataframe
print(df.shape)

(103, 2)

###  Geospatial Coordinates

In [8]:
df2 = pd.read_csv('Geospatial_Coordinates.csv')
df2 = pd.DataFrame(df2)

In [9]:
df2.rename(columns = {'Postal Code': 'Postcode'}, inplace=True)

In [10]:
df_new = pd.merge(df, df2, on='Postcode')

In [11]:
df_new

,Postcode,Neighbourhood,Latitude,Longitude
0,M1B,"Rouge, Malvern",43.806686,-79.194353
1,M1C,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Woburn,43.770992,-79.216917
4,M1H,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
98,M9N,Weston,43.706876,-79.518188
99,M9P,Westmount,43.696319,-79.532242
100,M9R,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Northwest,43.706748,-79.594054

## 3. Analysis <a name="Chapter3"></a>

At this stage the different neighbourhoods will be clustered and visualized.